.plusBtn {
  display: flex;
  justify-content: end;
  padding: 2rem;
  position: absolute;
  bottom: 0;
  width: 330px;
}
.plusBtn > button {
  width: 70px;
  height: 70px;
  background: var(--dark-blue);
  color: white;
  border: none;
  outline: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.8rem;
  cursor: pointer;
}
.plusBtn:hover {
  color: var(--light-gray);
}
