.create {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
}
.create-group {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 35%; */
  padding: 1rem 2rem;
  background: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.create-group > * {
  padding: 0.6rem;
  font-weight: 600;
}
.group-name label {
  white-space: nowrap;
}
.create-btn {
  padding: 0;
  margin-top: 1rem;
  text-align: end;
}
.create-btn > button {
  width: fit-content;
  padding: 0.3rem 2.1rem;
  background: var(--dark-blue);
  color: white;
  font-weight: 400;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}
