.group {
  height: 100%;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  outline: none;
  overflow-y: auto;
}
.group::-webkit-scrollbar {
  width: 10px;
  background: var(--light-gray);
  border-radius: 10px;
}
.group::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid transparent;
  background-clip: padding-box;
}
.group-list {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 500;
}
.group-list > div {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.group-list > * {
  cursor: pointer;
}
.group-name input {
  width: 300px;
  padding: 0.8rem 1rem;
  outline: none;
  border: 2px solid var(--light-gray);
  border-radius: 25px;
}
.group-name,
.colour-group {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.colours {
  display: flex;
  gap: 0.5rem;
}
.colour {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  outline: none;
  border: none;
  cursor: pointer;
}
.colour.selected {
  box-shadow: 0 0 2px 2px rgba(31, 31, 31, 0.5);
}
