.create {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
}
.create-group {
  position: absolute;
  top: 50%;
  left: 50%;
  /* width: 40%; */
  transform: translate(-50%, -50%);
  padding: 1rem 2rem;
  background: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.create-group > * {
  padding: 0.6rem;
  font-weight: 600;
}

.create-btn {
  padding: 0;
  margin-top: 1rem;
  text-align: end;
}
.create-btn > button {
  width: fit-content;
  padding: 0.3rem 2.1rem;
  background: var(--dark-blue);
  color: white;
  font-weight: 400;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}
.group-name label {
  white-space: nowrap;
}
.group-name input {
  width: 100%;
  padding: 0.8rem 1rem;
  outline: none;
  border: 2px solid var(--light-gray);
  border-radius: 25px;
}
.group-name,
.colour-group {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.colours {
  display: flex;
  gap: 0.5rem;
}
.colour {
  width: 25px;
  height: 25px;

  border-radius: 50%;
  outline: none;
  border: none;
  cursor: pointer;
}
.colour.selected {
  box-shadow: 0 0 2px 2px rgba(31, 31, 31, 0.5);
}
