.group {
  height: 100%;
  display: flex;
  flex-direction: column;
  outline: none;
  overflow-y: auto;
}
.group::-webkit-scrollbar {
  width: 10px;
  background: var(--light-gray);
  border-radius: 10px;
}
.group::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid transparent;
  background-clip: padding-box;
}
.group-list {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  gap: 1rem;
  font-weight: 500;
  cursor: pointer;
}
.group-list > div > div {
  width: 50px;
  height: 50px;
  /* border: 1px solid red; */
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active-group {
  background-color: var(--light-gray);
  border-radius: 15px;
}
