@media (max-width: 768px) {
  .leftBox {
    width: 100%;
  }
  .back-btn {
    display: block;
    background: none;
    border: none;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
  }
  .plusBtn {
    width: 100%;
  }
  .colour {
    width: 20px;
    height: 20px;
  }
}
