/* Mobile */
@media (max-width: 480px) {
}

/* Small devices */
@media (max-width: 576px) {
}

/* Tablets */

@media (max-width: 768px) {
  .leftBox {
    width: 100%;
  }
  .back-btn {
    display: block;
    background: none;
    border: none;
    color: #fff;
    font-size: 1rem;
    padding: 0 1rem;
    cursor: pointer;
  }
  .plusBtn {
    width: 100%;
  }
  .colour {
    width: 20px;
    height: 20px;
  }
}

/* Large tablets / small laptops */
@media (max-width: 992px) {
}

/* Laptops / Desktops */
@media (max-width: 1200px) {
}

/* Extra large screens */
@media (max-width: 1400px) {
}
