.notes-view {
  width: 100%;
  height: 100vh;
  background-color: var(--light-blue-bg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.notes-header {
  width: 100%;
  background-color: var(--dark-blue);
  color: #fff;
  padding: 1rem;
  display: flex;
  position: sticky;
  top: 0;
}
.notes-list {
  padding: 1rem 1.6rem;
  height: 100%;
  overflow-y: auto;
}

.notes-list::-webkit-scrollbar {
  width: 10px;
  background: var(--dark);
  border-radius: 10px;
}
.notes-list::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid transparent;
  background-clip: padding-box;
}

.note-item {
  padding: 1rem;
  background-color: #fff;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.5);
}
.note-meta {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.8rem;
  margin-top: 1rem;
}
.time {
  text-transform: uppercase;
}
.dot {
  background-color: black;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
.textarea {
  background-color: var(--dark-blue);
  padding: 1rem;
  width: 100%;
}
.textarea textarea {
  width: 100%;
  border-radius: 10px;
  padding: 1rem 2rem 1rem 1rem;
  height: 160px;
  outline: none;
  font-size: 1.2rem;
}
.textarea button {
  position: absolute;
  right: 32px;
  bottom: 32px;
  background: none;
  border: none;
  cursor: pointer;
}
.textarea button img {
  width: 32px;
}

.back-btn {
  display: none;
}
