@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --dark: #292929;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  display: flex;
}

/* LEFT PANEL */
.leftBox {
  background: #ffffff;
  padding: 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 25%;
}

.leftBox h2 {
  font-weight: 500;
  font-size: 1.8rem;
  text-align: center;
  padding: 1rem 0;
}
.leftBox > div {
  display: flex;
  justify-content: end;
}
.plusBtn {
  width: 70px;
  height: 70px;
  background: #0000a0;
  color: white;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.8rem;
}

/* RIGHT PANEL */
.rightBox {
  width: 100%;
  background: #dae5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
}

.rightBox img {
  width: 45%;
}

.rightBox h1 {
  font-size: 2.4rem;
  font-weight: 600;
}

.rightBox p {
  color: var(--dark);
  font-weight: 500;
  font-size: 0.9rem;
  letter-spacing: 0.3px;
}

/* FOOTER */
.footerText {
  position: absolute;
  bottom: 2rem;
  font-size: 0.85rem;
  color: var(--dark);
  display: flex;
  align-items: center;
  gap: 5px;
}

/* NOTES GROUPS */
.group {
  /* border: 2px solid red; */
  height: 100%;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.group-list {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 500;
}
.group-list > div {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #d32727;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.group-list > * {
  cursor: pointer;
}
