@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --dark: #292929;
  --light-gray: #d9d9d9;
  --light-blue-bg: #dae5f5;
  --dark-blue: #16008b;

  --purple: #b38bfa;
  --pink: #ff79f2;
  --cyan: #43e6fc;
  --orange: #f19576;
  --blue: #0047ff;
  --light-blue: #6691ff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.purple {
  background: var(--purple);
}
.pink {
  background: var(--pink);
}
.cyan {
  background: var(--cyan);
}
.orange {
  background: var(--orange);
}
.blue {
  background: var(--blue);
}
.light-blue {
  background: var(--light-blue);
}
.main {
  height: 100vh;
  display: flex;
}
.leftBox {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-width: 330px;
}
.leftBox h2 {
  font-weight: 500;
  font-size: 1.8rem;
  text-align: center;
  padding: 4rem 2rem 2rem 2rem;
}
.rightBox {
  width: 100%;
  background: var(--light-blue-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
}
.rightBox img {
  width: 45%;
}
.rightBox h1 {
  font-size: 2.4rem;
  font-weight: 600;
}
.rightBox p {
  color: var(--dark);
  font-weight: 500;
  font-size: 0.9rem;
  letter-spacing: 0.3px;
}
.footerText {
  position: absolute;
  bottom: 2rem;
  font-size: 0.85rem;
  color: var(--dark);
  display: flex;
  align-items: center;
  gap: 5px;
}
